 /* Estilos para los encabezados */
        h1, h2, h3 {
            color: #be8f2a;              /* azul medio */
            font-size: 32px;            /* tamaño personalizado */
            text-align: center;
        }

        /* Estilos para los párrafos */
        p {
            margin-left: 10%;
            margin-right: 10%;
            font-size: 18px;
            line-height: 1.5;
        }